body {
  background-color: #2c2f40; /* replace #desiredColor with your color */
}

.navbar-container{
  margin-right: 10%;
  margin-left: 10%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-card{
  font-size: 50px;
}

.title-card2{
  font-size: 47px;
}
.movie-title {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-card{
  background-color: white;
  margin-right: 100px;
}

.review-card {
  font-size: 20px;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px; 
}

.submission-card{
  background-color: white;
  border-radius: 10px;
}


.movie-submission-container{
  border: 10px;
  border-radius: 20px;
}